<div class="col-lg-6 mx-auto">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Resend confirmation instructions</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email, class: 'form-label mb-2' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control form-control-lg' %>
        </div>

        <div class="form-group">
          <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary mt-2' %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
